<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>슬기로운 취미생활</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <%- include('title.ejs') %>

    <div id="content">
      <aside>
        <!--사이드바에 프로필 정보 표시-->
        <img src="profile.png" width="200" height="200" alt="프로필 사진" />
        
        <div id="name">
          <strong>name</strong>
          <p>김서로</p>
        </div><br>

        <div id="bio">
          <strong>bio</strong>
          <ul>
            <li>데이터사이언스전공 4학년</li>
            <li>새로운 것에 관심이 많습니다!</li>
          </ul>
        </div>
        
        <div id="hobby">
          <strong>hobby</strong>
          <ul>
            <li>코바늘 뜨개질</li>
            <li>일상 기록하기</li>
            <li>인테리어 소품 모으기</li>
          </ul>
        </div>
      </aside>

      <section>
        <article>
          <h3>취미를 잃기 쉬운 현대 사회</h3>
          <h3>여러분은 자신만의 취미를 갖고 계신가요?</h3>
          <h3>슬기로운 취미생활은 취미를 공유하며 영감을 얻는 공간입니다.</h3>
          <h3>사람들과 함께 성장하며 당신의 무한한 가능성을 찾아보세요!</h3>
          <h3>⋮</h3>
        </article>

        <% if(user) { %>
          <p><%= user.name %>님 환영합니다!</p>
          <button onclick="logout()" class="sign-btn">로그아웃</button>
        <% } else { %>

        <article>
          <button onclick="login()" class="sign-btn">로그인</button>
          또는
          <button onclick="signup()" class="sign-btn">회원가입</button>
        </article>

        <% } %>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
      function signup() {
        open('/signup', '_self');
      }

      function login() {
        open('/login', '_self');
      }

      function logout() {
        open('/logout', '_self');
      }
    </script>
  </body>
</html>
