<script
  src="https://kit.fontawesome.com/9e23e332cf.js"
  crossorigin="anonymous"
></script>

<aside>
  <!--사이드바에 프로필 정보 표시-->
  <img src="../no-image.png" width="200" height="200" alt="프로필 사진" />

  <div id="follow-btn-container">
  <% if (user && user._id != blogUser._id) { %>
    <% if (user.friends && user.friends.includes(blogUser._id.toString())) { %>
      <button class="follow-btn" data-id="<%= blogUser._id %>">친구 끊기</button>
    <% } else { %>
      <button class="follow-btn" data-id="<%= blogUser._id %>">친구 추가</button>
    <% } %>
  <% } %>
  </div>

  <br />
  <div id="name">
    <strong>name</strong>
    <p><%= blogUser.name %></p>
  </div>
  <br />

  <div id="bio">
    <strong>bio</strong>
    <p><%= blogUser.bio %></p>
  </div>
  <br />

  <div id="hobby">
    <strong>hobby</strong>
    <ul>
      <li>코바늘 뜨개질</li>
      <li>일상 기록하기</li>
      <li>인테리어 소품 모으기</li>
    </ul>
  </div>

  <div>
    <i class="profile-edit-btn fa-solid fa-user-pen"></i>
  </div>
</aside>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
  $(".follow-btn").click(function (e) {
    const dataId = e.target.dataset.id;

    $.ajax({
      type: "post",
      url: "/follow",
      data: { _id: dataId },
    }).done(function (result) {
        console.log(e.target);
        if (e.target.innerHTML == "친구 추가") {
          alert("친구 추가!");
          e.target.innerHTML = "친구 삭제";
        } else {
          alert("친구 삭제!");
          e.target.innerHTML = "친구 추가";
        }
    }).fail(function (xhr, textStatus, errorThrown) {
        console.log(xhr, textStatus, errorThrown);
    });
  });
</script>