@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap'); /* 제목 폰트를 위해 구글 폰트 임포트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); /* 본문 폰트를 위해 구글 폰트 임포트 */

* {
    cursor: url(rainbow.cur) 2 2, auto;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background:linear-gradient(to bottom, #ffcaea, #cae8ff); /* 아래로 갈수록 하늘색 */
    font-family: 'Nanum Gothic';
    font-size: 14px;
    min-width: 850px;
    min-height: 850px;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center; /* 헤더 텍스트 가운데 정렬 */
    font-family: 'Moirai One'; /* 헤더 폰트 설정 */
    font-size: 26px;
    color: white;
}

nav ul {
    text-align: center;
    background-color: #cae8ff;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul li {
    display: inline; /* 줄바꿈을 하지 않고 li 요소들이 한 라인에 배치된다. */
    font-weight: bold; /* 폰트를 두껍게 설정 */
    margin-left: 70px;
    margin-right: 70px;
}

nav a:link {
    text-decoration-line: none; /* 링크의 밑줄 제거 */
    color: black;
}

nav a:visited {
    color: black; /* 사용자가 방문한 적 있는 링크의 글자색 white */
}

nav a:hover {
    color: white; /* 링크에 마우스를 올리면 글자색 white */
}

aside {
    float: left; /* aside 요소를 왼쪽에 정렬 */
    margin-right: 30px;
}

aside img {
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

aside strong {
    background-color: #cae8ff;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

aside #bio li {
    list-style-type: none;
}

aside p {
    display: inline; /* p 요소를 strong과 함께 한 줄에 배치하기 위함 */
}

section {
    text-align: center;
}

.sign-btn {
    background-color: #ffcaea;
    padding: 10px 15px 10px 15px;
    border-width: 0px;
    border-radius: 20px;
    font-size: 14px;
    transition: transform 0.1s linear;
}

.sign-btn:hover {
    color: white;
}

.sign-btn:active {
    transform: scale(0.9);
}

#form-container {
    display: flex;
    flex-direction: column;
    margin: auto; /* 가운데 정렬을 위한 마진 설정 */
    max-width: 500px;
}

.sign-form {
    display: flex;
    flex-direction: row; /* 요소를 가로로 배치 */
    align-items: center; /* 요소를 수직 정렬 */
    margin: 10px;
}

.sign-form label {
    min-width: 100px; /* 최소 너비 설정 */
    margin-right: 10px; /* 라벨 오른쪽 간격 추가 */
}

.sign-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Nanum Gothic';
}

.sign-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Nanum Gothic';
}

#form-container .sign-btn {
    margin-top: 20px;
}

#hobby-img {
    margin: auto;
}

#hobby-img img {
    border-radius: 20px;
}

.image-btn {
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: solid 1px white;
    border-radius: 20px;
    transition: transform 0.1s linear;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.3); /* 30% 투명도의 흰색 배경 */
}

.card:active {
    transform: scale(0.95);
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    font-weight: bold;
    border-bottom: solid 1px white;
}

.sign-form p {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* 30% 투명도의 흰색 배경 */
    font-family: 'Nanum Gothic';
}

.detail-btn-container {
    display: flex;
    justify-content: space-evenly;
}

.profile-edit-btn {
    border-radius: 20px;
    padding: 5px;
    padding-left: 5px;
    float: right;
    color: white;
    background-color: #cae8ff;
    transition: transform 0.1s linear;
}

.profile-edit-btn:hover {
    transform: scale(1.2);
}

.profile-edit-btn:active {
    transform: scale(0.9);
}

.follow-btn {
    width: 100%;
    background-color: #cae8ff;
    padding: 10px;
    border-width: 0px;
    border-radius: 20px;
    font-size: 14px;
    transition: transform 0.1s linear;
}

.follow-btn:hover {
    color: white;
}

.follow-btn:active {
    transform: scale(0.9);
}